<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Music Tweet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6410FEF718F9BA4600DACFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6410FF1818F9BA4700DACFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D85EAD1ED5ACE200547615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
